{% extends "coltrane/base_links.html" %}

{% block title %}
{{ block.super }} | Links on {{ day|date:"F, j Y"}}
{% endblock %}

{% block content %}
{% for link in object_list %}
<h2> {{ link.title }}</h2>
<p>Published on {{entry.pub_date|date "M. j, Y" }}</p>
{% if link.description_html %}
{{ link.description_html|truncatewords_html:"50"|safe }}
{% endif %}
<p><a href="{{ link.get_absolute_url }}">See all the details...</a></p>
{% endfor %}
{% endblock %}

{% block whatis %}
<p>This is a list of links published in my blog on {{ day|date:"F, j Y" }}.</p>
{% endblock %}