<!DOCTYPE html PUBLIC "-//W3C/DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <title>My weblog {% block title %}{% endblock %} </title>
</head>
<body class="{% block bodyclass %}{% endblock %}">
   <div id="header">
      <h1 id="branding">My weblog</h1>
   </div>
   <div id="content">
      {% block content %}
      {% endblock %}
   </div>   
   <div id="sidebar">
      <h2>Navigation</h2>
      <ul id ="main-nav">
         <li id="main-nav-entries">
            <a href="{% url blurg_entry_archive_index %}">Entries</a></li>
         <li id="main-nav-links">
            <a href="{% url blurg_link_archive_index %}">Links</a></li>
         <li id="main-nav-categories">
            <a href="{% url blurg_category_list %}">Categories</a></li>
         <li id="main-nav-tags">
            <a href="{url blurg_tag_list %}">Tags</a></li>
    </ul>
    <h2>What is this?</h2>
    {% block whatis %}
    {% endblock %}
   
  {% load blurg_tags %}
   <h2>Latest entries in the weblog</h2>
   <ul>
     {% get_latest_content blurg.entry 5 as latest_entries %}
     {% for entry in latest_entries %}
     <li>
       <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>,
       posted {{ entr.pub_date|timesince }} ago.
    </li>
    {% endfor %}
  </ul>
  <h2>Latest links in the weblog</h2>
  <ul>
  {% get_latest_content blurg.link 5 as latest_links %}
  {% for link in latest_links %}
  <li>
    <a href="{{ link.get_absolute_url }}">{{ link.title }} </a>
    posted {{ link.pub_date|timesince }} ago.
  </li>
  {% endfor %}
  </ul>
</div>
  
  
</body>
</html>