{% extends "coltrane/base_links.html" %}

{% block title %}{{ tag }} . tags . {{ block.super }}{% endblock %}

{% block content %}
        <h1>&nbsp;Tags</h1>
        {% if maxed_out %}
        <p>The 500 most recent things tagged "{{ tag }}"</p>
        {% else %}
        <p>{{ object_list|length|apnumber|title }} thing{{ object_list|pluralize }} tagged "{{ tag }}"</p>
        {% endif %}
        {% for object in object_list %}
            {% ifchanged object.pub_date.month %}
                {{ object.pub_date|date:"N Y" }}
            {% endifchanged %}
                {{ object.get_rendered_html }}
        {% endfor %}
{% endblock %}